---
import MainLayout from '../layouts/MainLayout.astro'
import OssCard from '../components/OssCard.astro'
import config from '../data/site-config'
import ossProjects from '../data/oss'

const title = `Open Source Projects & Contributions | ${config.siteTitle}`
const description =
	'Developer tools and open source libraries for Vue, Astro, and the modern web. Explore the source, star, and contribute.'
const image = config.image.src
---

<MainLayout
	title={title}
	description={description}
	image={image}
	type="collection"
>
	<div class="mx-auto container-inner">
		<div class="mb-12">
			<h1 class="text-4xl font-extrabold mb-4">Open Source</h1>
			<p class="text-lg text-copy-primary">
				I enjoy building tools for other developers. I'm a big fan of open
				source and I'm always looking for ways to contribute to the community.
				Here are some of my projects — you can find more on{' '}
				<a
					href="https://github.com/peoray"
					class="link"
					target="_blank"
					rel="noopener noreferrer">GitHub</a
				>.
			</p>
		</div>

		<div class="grid lg:grid-cols-2 gap-4 lg:gap-6">
			{ossProjects.map((project) => <OssCard project={project} />)}
		</div>
	</div>
</MainLayout>
