---
import Seo from './Seo.astro';
// interface Props {
//   title: string;
//   description: string;
//   image: string;
//   frontmatter: string;
//   robots: string;
// }

const { title, description, image, frontmatter, robots } = Astro.props;
---

<head>
  <title>{title}</title>
  <meta charset="utf-8" />
  <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />

  <Seo {title} {description} url={Astro.url} {image} {frontmatter} {robots} />
</head>
