---
import config from '../data/site-config'
import Seo from './Seo.astro'
// interface Props {
//   title: string;
//   description: string;
//   image: string;
//   frontmatter: string;
//   robots: string;
// }

const { title, description, image, data, robots } = Astro.props
---

<head>
  <title>{title}</title>
  <meta charset="utf-8" />
  <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />

  <!-- <Seo {title} {description} url={Astro.url} {image} {data} {robots} /> -->
  <Seo {title} {description} {image} {data} {robots} />

  <script>
    import { inject } from '@vercel/analytics'
    inject()
  </script>

  <!-- Google tag (gtag.js) -->
  <!-- <script async src="https://www.googletagmanager.com/gtag/js?id=G-9B0V69DZWD"
  ></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'G-9B0V69DZWD');
  </script> -->
</head>
