---
import MainLayout from './MainLayout.astro';
import Newsletter from '../components/Newsletter.astro';

import { formatDate, kebabCaseStr } from '../utils/helpers';

import '../styles/github-markdown.css';
import Badge from '../components/Badge.astro';

const { data } = Astro.props;
let { title, description, lastmod, tags, thumbnail, robots } = data;
---

<MainLayout
	title={title}
	description={description}
	lastmod={lastmod}
	data={data}
	image={thumbnail}
	robots={robots}
>
	<article class='mx-auto mb-16 container-inner'>
		<h1 class='text-4xl font-bold leading-tight'>{title}</h1>

		<>
			{
				lastmod ? (
					<time>
						<p class='font-semibold my-2 text-gray-600'>
							Last Updated on {formatDate(lastmod)}
						</p>
					</time>
				) : null
			}
		</>

		<div class='flex flex-wrap space-x-4 mt-4 text-sm'>
			{
				tags.map((tag: string) => (
					<>
						<Badge
							link={`/tag/${kebabCaseStr(tag)}`}
							classes='bg-gray-300 text-purple-100'
						>
							{tag}
						</Badge>
					</>
				))
			}
		</div>

		<div class='mt-12 markdown-body'>
			<slot />
		</div>

		{/* <hr /> */}

		<div class='text-3xl tracking-widest text-center md:text-5xl'>
			<span>.</span>
			<span>.</span>
			<span>.</span>
		</div>

		<div class='mt-5 mb-8'>
			<!-- <p>
          If you find any error or typo in this article, please feel free to{
            ' '
          }
          <a
            href={githubLink}
            class="font-bold"
            target="_blank"
            rel="nofollow noopener noreferrer"
          >
            edit on Github
          </a>
          .
        </p> -->

			<!-- <div class="mt-6"> -->
			<p class=''>
				If this was helpful, interesting, or caused some other positive emotion,
				please share!
			</p>
			<!-- </div> -->
		</div>
	</article>

	<div class='py-4 mx-auto container-inner'>
		<hr class='hr' />
	</div>
	<!-- <Bio /> -->
	<Newsletter />
</MainLayout>
